@model TickettingSystem.Models.DashboardViewModel


@*THIS FILE IS NOT USED*@
@foreach (var note in Model.NotesForSelectedTicketClient)
{ 
    <p data-toggle="modal" data-target="#addTicketNoteModal" data-note-id="@note.ID">@note.ShortNote</p>
}