@model TickettingSystem.Models.DashboardViewModel

<table style="width:100%">
    <tr>
        <th class="round-1">Exchange name</th>
        <th>Enabled</th>
        <th>APIs entered</th>
        <th class="round-2">Verifyed connection</th>
    </tr>
    @foreach (var exchange in Model.Exchanges)
    {
        var date = exchange.DateEnabled.ToString("dd/MM/yyyy");
        var api = exchange.APIsEntered ?? "NONE ENTERED";
        if (exchange.DateEnabled == default(DateTime))
        {
            date = "";
        }
        <tr>
            <td>@exchange.ExchangeName</td>
            <td>@date</td>
            <td>@api</td>
            <td><input type="button" value="Connect" id="btnConnectExchange" data-connected=false onclick="connectExchange(this)" /></td>
        </tr>
    }

</table>

@*<script src="~/assets/js/jquery.min.js"></script>*@
@*<script src="~/assets/js/Client.js"></script>*@

