@model TickettingSystem.Models.DashboardViewModel

@foreach (var note in Model.NotesForSelectedClient)
{ 
    <p data-toggle="modal" data-target="#addNoteModal" data-note-id="@note.ID">@note.ShortNote</p>
 }

