@model TickettingSystem.Models.DashboardViewModel

@foreach (var note in Model.NotesForTheSelectedStaff)
{ 
    <p data-toggle="modal" data-target="#addStaffNoteModal" data-note-id="@note.Id">@note.ShortNote</p>
}

